<!DOCTYPE html>
<html>
  <head>
    <title>Mutabaah</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class='notice-message'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class='alert-message'>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if session[:current_user_id] %>
      <div class='top-nav'>
        <ul>
          <li><%= link_to 'Muwashafat', muwashafats_path %></li>
          <li><%= link_to 'Yaumiyah', 'javascript:void(0)' %></li>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        </ul>
      </div>
    <% end %>

    <div class='wrapper'>
      <%= yield %>
    </div>
  </body>
</html>
